django>=6.0
channels>=4.0
channels-redis>=4.0
daphne>=4.0
gunicorn>=21.0
psycopg2-binary
python-decouple
pillow
whitenoise>=6.0
dj-database-url
faker
cloudinary>=1.36.0
django-cloudinary-storage>=0.3.0
